@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Zen+Kurenaido&display=swap');


body {
    margin: 0;
    /*background-color: #FBFBF2;*/
    /*background-color: #cfffcf;*/
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'Crimson Text', serif;
    font-size: 1.2em;
}

h1, h2, h3, h4, h5 {
    font-family: 'Zen Kurenaido', sans-serif;
    font-weight: bold;
}

h1{
    font-weight: bolder;
    font-size: 3.5em;
    color: #141733;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px, 2px 2px 2px rgba(206,89,55,0);
}

h2{
    font-size: 2.5em;
}

header {
    background-color: #E5E6E4;
}

.navbar{
    /*background-color: #42067a;*/
    background: rgb(66,6,122);
    background: linear-gradient(90deg, rgba(66,6,122,1) 0%, rgba(36,99,148,1) 100%);
}

main {
    flex: 1; /*main prend tout l'espace d'affichage "en trop"*/
    padding: 10px;
}

section {
    margin: 10px 10px 10px 15px;
}

footer {
    background-color: ivory;
    padding: 17px;
    text-align: center;
    height: 50px;
}

.btn{
    /*background: #822bac;*/
    /*border-color: #6d2293;*/
    border: none;
    background: rgb(66,6,122);
    background: linear-gradient(90deg, rgba(66,6,122,1) 0%, rgba(36,99,148,1) 100%);
    box-shadow: 0 -1px 4px #FFF, 0 -2px 5px #ff0, 0 -5px 10px #ff8000, 0 -9px 20px #F00;
}

.btn:hover{
    border: none;
    transition: background-color ease-in-out 1000ms;
    background: rgb(66,6,122);
    background: linear-gradient(90deg, rgba(36,99,148,1) 0%, rgba(66,6,122,1) 100%);
}

.nav-link {
    font-weight: bold;
    font-size: 1.35em;
}

.navbar-light .navbar-nav .nav-link {
    color: #FBFBF2;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #b98dda;
}

.formRechercher {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.formDiv {
    margin: 10px;
    align-self: center;
    flex-grow: 1;
}

.navbar-toggler {
    margin: 10px;
    background-color: #e0e0e0;
}

.btn-afficher-tri, .btn-masquer-tri {
    display: none;
}

.form-tri {
    display: block;
}

body >.container-fluid {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    /* fallback for old browsers */
    /*background: #E5E6E4;*/
    background: rgb(36,99,148);
    background: linear-gradient(90deg, rgba(36,99,148,.72) 0%, rgba(66,6,122,0.25) 100%);
    /*background: rgb(36,99,148);*/
    /*background: linear-gradient(90deg, rgba(36,99,148,0.4416141456582633) 0%, rgba(66,6,122,0.16710434173669464) 100%);*/
    /*background-color: rgb(253, 223, 195);*/
    /* Chrome 10-25, Safari 5.1-6 */
    /*background: -webkit-linear-gradient(to top, rgba(234, 241, 255, 0.5), rgba(206, 238, 253, 0.5));*/

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background: linear-gradient(to top, rgba(234, 241, 255, 0.5), rgba(206, 238, 253, 0.5))*/
}

.text-annulation{
    /*color: #B0413E;*/
    font-weight: bolder;
    font-size: 2.5em;
    /*text-shadow:2px 2px 2px rgba(206,89,55,0.8) ;*/
    color: #FFFFFF;
    /*text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;*/
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}


/*Tablette*/
@media(min-width: 768px) and (max-width: 1487px) { /*1388*/

    body {
        width :100% ;
        padding :0;
    }

    body>.container-fluid{
        background: rgb(34,193,195);
        background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    }

}

/*Téléphone*/
@media(max-width: 767px) {

    body {
        width :100% ;
        padding :0;
    }

    body>.container-fluid{
        background: rgb(34,193,195);
        background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    }

    .nav-link {
        font-weight: bold;
        font-size: 1.3em;
    }

    .login {
        text-align: center;
        align-content: center;
        margin-top: 10px;
    }

    .trop-petit {
        display: none;
    }

    .formRechercher {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .formDiv {
        padding: 0;
        margin: 0;
        align-self: center;
        flex-grow: 1;
    }

    .form-tri {
        display: none;
    }

    .titre-tri {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .btn-afficher-tri {
        display: block;
    }

    .btn-masquer-tri {
        display: none;
    }

    .div-detail {
        display: flex;
        flex-direction: column;
        width: 95vw;
    }

    .div-detail-col {
        display: block;
        width: 95vw;
    }

    .centrer-element {
        display: flex;
        justify-content: space-around;
        padding: 0 30px;
    }

    .div-detail-col > p {
        margin-bottom: 4px;
    }
}


.tableauUtilisateurs{
    height: 500px;
    overflow: scroll;
}
