{% extends "base.html.twig" %}

{% block main %}
    <h1 class="text-center mb-4">Nouveau mot de passe</h1>
    {{ form_start(formUtilisateur) }}

    {{ form_row(formUtilisateur.plainPassword) }}

    <button type="submit" class="btn btn-primary">Enregistrer</button>
    <a href="{{ path("default_profil") }}"
       class="btn btn-primary">Annuler</a>
    {{ form_end(formUtilisateur) }}
{% endblock %}